body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.navbar {
    background-color: #59B87F;
    padding: 10px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: 'Wendy One', sans-serif;
    width: 100%;
    position: fixed;
}

.edit-table {
    width: 80%;
    margin-top: 100px;
    overflow-wrap: break-word;
}

button, a {
    background-color: #59B87F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button, a {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    white-space: normal;
    max-width: min-content;
    background-color: #59B87F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    max-width: 400px;
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}



.column {
    border: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
    margin-top: 80px;
    position: relative;
}
.column:nth-child(1) li {
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.column:hover .help-icon {
    visibility: visible;
}

ul {
    list-style-type: none;
    white-space: normal
}

li {
    margin-bottom: 10px;
    max-width: 400px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.anotacao-texto {
    text-align: center;
}

.anotacao-info {
    text-align: right;
    font-style: italic;
}

.tag-list li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
}

:root {
    --color-1: #48d785;
    --color-2: #daca57;
    --color-3: #4d4eee;
    --color-4: #e82057;
    --color-5: #8f2eb7;
}

.tag {
    cursor: pointer;!important;
}

.tag-list {
    padding: 0;
}

.color-0 {
    background-color: white;
    color: black;
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
}


.color-1 {
    background-color: var(--color-1);
    color: white;
    display: inline-block;
    border: 1px solid;
    cursor: pointer;
}

.color-2 {
    background-color: var(--color-2);
    display: inline-block;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.color-3 {
    background-color: var(--color-3);
    display: inline-block;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.color-4 {
    background-color: var(--color-4);
    display: inline-block;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.color-5 {
    background-color: var(--color-5);
    display: inline-block;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.circle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    text-decoration: none;
    color: gray;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.circle-button:hover {
    background-color: #eee;
}

.help-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    visibility: hidden;
}

.help-icon .tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.help-icon:hover .tooltip {
    display: block;
}

